.container {
	display: flex;
	flex-direction: column;
	gap: 30px;

	padding: 40px 20px;

	.controlContainer {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 30px;
	}
	.flexContainer {
		display: flex;
		flex-direction: row;
		gap: 20px;
		flex-wrap: wrap;
	}
}
