.form {
	display: flex;
	flex-direction: column;
	gap: 10px;

	.button,
	.errorButton,
	.successButton {
		border: 1px solid black;
		border-radius: 5px;
		padding: 10px;
	}

	.errorButton {
		background-color: #ffd3d3;
	}

	.successButton {
		background-color: #d6ffd2;
	}
}
